<!-- partial:partials/_head -->
<%- include("partials/_head") %>
	<!-- moment script -->
	<script src="/client/js/moment.js"></script>
	<!-- partial -->
	<div class="container-scroller">
		<!-- partial:partials/_navbar -->
		<%- include("partials/_navbar") %>
			<!-- partial -->
			<div class="container-fluid page-body-wrapper">
				<!-- partial:partials/_sidebar -->
				<%- include("partials/_sidebar") %>
					<!-- partial -->
					<div class="main-panel">
						<div class="content-wrapper">
							<div class="row">
								<div class="col-md-12 grid-margin">
									<div class="d-flex justify-content-between align-items-center">
										<div>
											<h4 class="font-weight-bold mb-0">Edit Blog</h4>
										</div>
										<div>
											<button type="button" class="btn btn-primary btn-icon-text btn-rounded"
											onclick="location.pathname = '/admin/blog'">
												<i class="ti-arrow-left btn-icon-prepend"></i>Back
											</button>
										</div>
									</div>
								</div>
							</div>

							<!-- form -->
							<div class="row">
								<div class="col-12 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Edit Blog</h4>
											<p class="card-description">
												Use the form below to edit your blog
											</p>
											<form class="forms-sample"
												action="/blog/update?_method=PUT&id=<%= blog._id %>" method="post"
												enctype="multipart/form-data">
												<div class="form-group">
													<label for="title">Title</label>
													<input type="text" class="form-control" id="title" name="title"
														placeholder="<%= blog.title %>" value="<%= blog.title %>"
													required>
												</div>
												<div class="form-group">
													<label for="subTitle">Sub Title</label>
													<input type="text" class="form-control" id="subTitle" name="subTitle"
														placeholder="<%= blog.subTitle %>" value="<%= blog.subTitle %>">
												</div>
												<div class="form-group">
													<label for="author">Author</label>
													<input type="text" class="form-control" id="author" name="author"
														placeholder="<%= blog.author %>" value="<%= blog.author %>">
												</div>
												<div class="form-group">
													<label for="dummyDate">Date Created</label>
													<input type="date" class="form-control" id="dummyDate" name="dummyDate"
														placeholder="<%= blog.dummyDate %>" value="<%= blog.dummyDate %>">
												</div>
												<div class="form-group">
													<label for="description">Description</label>
													<input type="text" class="form-control" id="description"
														name="description" placeholder="<%= blog.description %>"
														value="<%= blog.description%>">
												</div>
												<div class="form-group">
													<label for="keywords">Keywords</label>
													<input type="text" class="form-control" id="keywords"
														name="keywords" placeholder="<%= blog.keywords %>"
														value="<%= blog.keywords %>">
												</div>
												<div class="form-group">
													<label>Image upload</label>
													<input type="file" name="image" accept="image/*"
														class="file-upload-default">
													<div class="input-group col-xs-12">
														<input type="text" class="form-control file-upload-info"
															placeholder="Upload Image">
														<span class="input-group-append">
															<button class="file-upload-browse btn btn-primary"
																type="button">Upload</button>
														</span>
													</div>
												</div>
												<div class="form-group">
													<label for="caption">Caption</label>
													<input type="text" class="form-control" id="caption"
														name="caption"
														placeholder="<%= blog.caption %>" value="<%= blog.caption %>">
												</div>
												<div class="form-group">
													<label for="markdown">Content</label>
													<textarea rows="4" class="form-control" id="markdown"
														name="markdown" placeholder="<%= blog.markdown %>"
														style="resize: auto"><%= blog.markdown %></textarea>
												</div>
												<button type="submit" class="btn btn-primary mr-2">Submit</button>
											</form>
										</div>
									</div>
								</div>
							</div>

							<!-- Example of md -->
							<div class="row">
								<div class="col-12 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Easy copy</h4>
											<p class="card-description">
												Click on the format you want to copy
											</p>

											<div class="row">
												<div class="col-12 col-lg-4">
													<div class="card">
														<div class="card-body">
															<!-- <div class="card-title">Add Heading</div> -->
															<div class="card-description">
																<h2 data-md="## "
																	class="md-copy hover-darken cursor-hover" 2>Heading
																	1</h2>
																<h3 data-md="### "
																	class="md-copy hover-darken cursor-hover" 3>Heading
																	2</h3>
																<h4 data-md="#### "
																	class="md-copy hover-darken cursor-hover" 4>Heading
																	3</h4>
																<h5 data-md="##### "
																	class="md-copy hover-darken cursor-hover" 5>Heading
																	4</h5>
																<h6 data-md="###### "
																	class="md-copy hover-darken cursor-hover" 6>Heading
																	5</h6>
															</div>
														</div>
													</div>
												</div>
												<div class="col-12 col-lg-4">
													<div class="card">
														<div class="card-body">
															<!-- <div class="card-title">Add Image</div> -->
															<div class="card-description">
																<img data-md="![Enter image description](enter image link)"
																	class="md-copy hover-darken cursor-hover img-fluid mb-3"
																	src="https://source.unsplash.com/random/300x300"
																	width="70px" alt="random image">
																<blockquote data-md="> "
																	class="md-copy hover-darken cursor-hover mb-2"
																	style="border-left: 4px solid #333; padding-left: 10px;">
																	Add a blockquote to your blog
																</blockquote>
																<a href="#x" data-md="[Enter text](enter link)"
																	class="md-copy hover-darken cursor-hover"
																	style="text-decoration: none; color: #ff7d27;">Add a
																	link to your blog</a>
															</div>
														</div>
													</div>
												</div>
												<div class="col-12 col-lg-4">
													<div class="card">
														<div class="card-body">
															<!-- <div class="card-title">Add Heading</div> -->
															<div class="card-description">
																<ul data-md="* item 1
* item 2
* item 3"
																	class="md-copy hover-darken cursor-hover">
																	<li>item 1</li>
																	<li>item 2</li>
																	<li>item 3</li>
																</ul>
																<ol data-md="1 item 1
1 item 2
1 item 3" 
																	class="md-copy hover-darken cursor-hover">
																	<li>item 1</li>
																	<li>item 2</li>
																	<li>item 3</li>
																</ol>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-12 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Edit Comments</h4>
											<div class="card-description">
												<% blog.comments.forEach((c, index)=> { %>
													<div id="comment<%= index %>" class="d-flex flex-row p-3">
														<span src="https://i.imgur.com/zQZSWrt.jpg" width="40" height="40"
															class="circle-profile rounded-circle mr-3">
															<%= c.user.username.substring(0, 1) %>
														</span>
														<div class="w-100">
															<div class="d-flex justify-content-between align-items-center">
																<div class="d-flex flex-row align-items-center">
																	<span class="mr-2">
																		<%= c.user?.username %>
																	</span>
																	<small class="c-badge"><%= c.isVerified? "Approved": "Not Approved" %></small>
																</div>
																<small data-date="<%= new Date(c.createdAt) %>">
																</small>
															</div>
					
															<p class="text-justify comment-text mb-0">
																<%= c.comment %>
																<span href="#x" data-title="Delete Comment" data-delete-path="/admin/blog/edit/<%= blog.slug %>/comment?id=<%= blog._id %>" data-delete="<%= c._id %>" class="text-danger cursor-hover">Delete</span>
																<% if(!c.isVerified){ %>
																<span class="wish" title="Approve"><i class="ti-check mr-2 cursor-hover p-1 bg-behance rounded-circle text-white" data-verify="<%= index %>" data-verify-path="/admin/blog/edit/<%= blog.slug %>/comment?id=<%= blog._id %>"></i></span>
																<% } %>
															</p>
					
															<div class="d-flex flex-row user-feed">
																<!-- <span class="ml-3"><i class="fa fa-comments-o mr-2"></i>Reply</span> -->
															</div>
														</div>
													</div>
													<% }); %>
											</div>
										</div>
									</div>

								</div>
							</div>
							
							<div class="row">
								<div class="col-12 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Preview Blog</h4>
											<div class="row">
												<div class="col-12 col-lg-4">
													<div class="card">
														<div class="card-image position-relative">
															<img class="img-fluid" src="/<%= blog.mainImage?.path %>"
																alt="<%= blog.title %>">
														</div>
														<div class="card-body">
															<div class="card-description">
																<h4 class="card-title">
																	<%= blog.title %>
																</h4>
																<p>
																	<%= blog.description.length> 91?
																		blog.description.substring(0, 91) +
																		"...": blog.description %>
																</p>
																<small class="date">
																	<script>
																		document.write(moment(new Date("<%= blog.createdAt %>")).format('l'));
																	</script>
																</small>
																<small class="text-muted">&blacksquare;</small>
																<small class="author text-muted">
																	<%= blog.author %>
																</small>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>

								</div>
							</div>
							<!-- content-wrapper ends -->
							<!-- partial:partials/messageBird -->
							<%- include("utils/messageBird") %>
								<!-- partial -->
								<!-- partial:partials/_footer -->
								<%- include("partials/_footer") %>
									<!-- partial -->
						</div>
						<!-- main-panel ends -->
					</div>
					<!-- page-body-wrapper ends -->
			</div>
			<!-- container-scroller -->

			<!-- partial:partials/_scripts -->
			<%- include("partials/_scripts") %>
				<!-- partial -->

				<script>
					const dateT = document.querySelectorAll("[data-date]");
					dateT.forEach(dT => {
						dT.innerHTML = moment(dT.dataset.date).startOf('seconds').fromNow();
					});
				</script>
				</body>

				</html>