<!-- moment script -->
<script src="/client/js/moment.js"></script>
<!-- partials: partials/_head -->
<%- include("partials/_head") %>
	<!-- partials -->
	<!-- partials: partials/_header -->
	<%- include("partials/_header") %>
		<!-- partials -->
		<!-- partials: partials/_nav -->
		<%- include("partials/_nav") %>
			<!-- partials -->

			<div data-w-id="d42ee0aa-6aea-54b5-73bf-51f9d1988efc" class="section wf-section"
				style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
				<div class="container _1280 w-container">
					<div class="_850-px-div _80-px-bottom-margin">
						<div class="title-div">
							<h1 class="h1">About Us</h1>
						</div>
						<div class="about-text-div">
							<div class="_30-px-top-margin-div">
								<p>
									Global finance news is a blog devoted to providing in-depth information on the
									financial world globally in areas that are crucial to everything finance you can
									rely on us to provide that information here it's what we are known for we continue
									to deliver in this regard. Detailed and easy-to-use information is what we offer at
									the very core of our structure.
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- components: components/encouragement -->
			<%- include("components/encouragement") %>
			<!-- components -->
			</div>

			<!-- partials: partials/_footer -->
			<%- include("partials/_footer") %>
				<!-- partials -->

				<!-- partials: partials/_scripts -->
				<%- include("partials/_scripts") %>
					<!-- partials -->
					</body>

					</html>