<!-- moment script -->
<script src="/client/js/moment.js"></script>
<!-- partials: partials/_head -->
<%- include("partials/_head") %>
	<!-- partials -->
	<!-- partials: partials/_header -->
	<%- include("partials/_header") %>
		<!-- partials -->
		<!-- partials: partials/_nav -->
		<%- include("partials/_nav") %>
			<!-- partials -->
			<div class="section wf-section">
				<div class="container _1280 w-container">
					<div class="w-layout-grid blog-grid">
						<main id="w-node-_25f492b4-abe7-57b4-0ea3-83bba35c0c39-219c2610" class="blog-post-title-div">
							<article id="my-article">
								<div class="date blog">
									<script>
										document.write(moment("<%= new Date(blog?.updatedAt) %>").format('LL'))
									</script>
								</div>
								<div class="blog-title-div">
									<h1 class="h1"><%= blog.title %></h1>
								</div>
								<div class="post-summary-blog-div">
									<div class="post-summary-blog"><%= blog?.subTite %></div>
								</div>
								<div class="author-flex-div left">
									<div class="_5-px-right-margin">
										<div class="blog-text">By</div>
									</div><a href="#" class="author _24-px"><%= blog.author %></a>
								</div>
								<div style="background-image:url('/<%= blog.mainImage.path.replace(/\\/, /\//) %>')"class="post-image-blog-div"></div>
								<!-- content goes here -->
								<%- blog?.convertedMD %>
							</article>
						</main>
						<div id="w-node-_25f492b4-abe7-57b4-0ea3-83bba35c0c6a-219c2610" class="related-div">
							<div class="sticky-sidebar">
								<div>
									<div class="share-sidebare">
										<h6 class="h6-side-bar-title">Share</h6>
										<div class="share-post-div">
											<div class="w-embed"><a class="w-inline-block social-share-btn tw"
													href="https://twitter.com/" target="_blank"
													title="Tweet"
													onclick="window.open('https://twitter.com/'); return false;"></a>
											</div>
											<div class="w-embed"><a class="w-inline-block social-share-btn fb"
													href="https://www.facebook.com/"
													title="Share on Facebook" target="_blank"
													onclick="window.open('https://www.facebook.com'); return false;">
												</a></div>
											<div class="w-embed"><a class="w-inline-block social-share-btn lnk"
													href="http://www.linkedin.com/"
													target="_blank" title="Share on LinkedIn"
													onclick="window.open('http://www.linkedin.com/'); return false;"></a>
											</div>
										</div>
									</div>
								</div>
								<div>
									<div class="_30-px-margin-div">
										<h6 class="h6-side-bar-title">More</h6>
									</div>
									<div class="w-dyn-list">
										<div role="list" class="w-dyn-items">
											<% for (let index = 0; index < blogs.length; index++) { %>
												<% if(index > 5) break %>
												<% const blog = blogs[index]; %>

												<div role="listitem" class="w-dyn-item">
													<div class="_20-px-bottom-margin">
														<div class="flex-div no-padding">
															<div class="div-post flex vertical">
																<div>
																	<a href="/blogs/<%= blog.slug %>"
																		class="post-title">
																		<%= blog.title %>
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											<% } %>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- components: components/encouragement -->
						<%- include("components/encouragement") %>
							<!-- components -->
					</div>
				</div>
			</div>
			<div class="section wf-section">
				<div class="container w-container">
					<div class="_15-px-bottom-margin">
						<h6>Other posts</h6>
					</div>
					<div id="w-node-_92891f88-c15b-d2da-0161-d9528ffe698c-219c2610" class="w-dyn-list">
						<div role="list" class="bottom-blog-grid w-dyn-items">
							<% blogs.forEach(blog=> { %>
								<div role="listitem" class="w-dyn-item">
									<div class="flex-div">
										<div class="div-post flex">
											<a href="/blogs/<%= blog.slug %>" class="_120-px-height-div w-inline-block">
												<img src="/<%= blog.mainImage.path %>" loading="lazy"
													alt="<%= blog.title %>" loading="lazy" alt="" sizes="150px"
													srcset="/<%= blog.mainImage.path %> 500w, /<%= blog.mainImage.path %> 800w, /<%= blog.mainImage.path %> 1300w"
													class="post-image" />
											</a>
											<div class="title-date-div">
												<div class="author-flex-div left blog">
													<div class="_5-px-right-margin">
														<div class="text-block">By</div>
													</div>
													<a href="/blogs/<%= blog.slug %>" class="author _16-px orange">
														<%= blog.author %>
													</a>
												</div>
												<div class="_130-px-div">
													<a href="/blogs/<%= blog.slug %>" class="post-title _16-px">
														<%= blog.title %>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<% }); %>
						</div>
					</div>
				</div>
			</div>

			<!-- partials: partials/_footer -->
			<%- include("partials/_footer") %>
				<!-- partials -->

				<!-- partials: partials/_scripts -->
				<%- include("partials/_scripts") %>
					<!-- partials -->

					<script>
						$("#my-article").children("h1").next().css({
							fontSize: "20px",
							lineHeight: "24px",
							fontWeight: 300
						}).next().css({
							color: "#000",
							fontSize: "24px",
							lineHeight: "26px",
							fontWeight: 500,
						});
					</script>
					</body>

					</html>