<!-- partials: partials/_head -->
<%- include("partials/_head") %>
	<!-- partials -->

	<!-- moment script -->
	<script src="/client/js/moment.js"></script>

	<!-- partials: partials/_header -->
	<%- include("partials/_header") %>
		<!-- partials -->

		<!-- partials: partials/_nav -->
		<%- include("partials/_nav") %>
			<!-- partials -->
			<main data-w-id="fd175021-60e7-61f8-9b40-906e625cdfef" class="hero-section wf-section">
				<div class="container w-container">
					<div class="hero w-layout-grid _2-column-grid hero">
						<div id="w-node-_3710a2c4-d6f0-7904-ee2e-f68878087636-5e4a43b3">
							<h3 class="h3 orange">Trending Stories</h3>
							<div class="w-dyn-list">
								<div role="list" class="hero-left-divbox w-dyn-items">
									<% blogs.forEach((blog, index) => { %>
										<% if(index > 5) return %> 
										<div data-w-id="120b8056-58a9-f0d3-ad8d-238e680a2483"
											style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
											role="listitem" class="w-dyn-item">
											<div>
												<div class="div-category">
													<div class="category" style="text-transform: capitalize;"><%= blog.keywords.split(",")[0] %></div>
												</div>
												<div class="flex-div add-bottom-border">
													<div class="circle">
														<div class="nr"><%= index + 1 %></div>
													</div>
													<div class="div-post no-border-in-mobile">
														<div class="_180-px-div"><a href="/blogs/<%= blog.slug %>"
																class="post-title"><%= blog.title %></a></div>
														<div class="date-author-flex">
															<div class="date"><script>
																document.write(moment("<%= new Date(blog?.updatedAt) %>").format('l'))
															</script></div>
															<div class="sep-circle"></div><a href="/blogs/<%= blog.slug %>"
																class="author"><%= blog.author %></a>
														</div>
													</div>
												</div>
											</div>
										</div>
									<% }); %>
								</div>
							</div>
						</div>
						<div id="w-node-c86439ca-e9ef-cb5e-815f-73012aa70858-5e4a43b3" class="w-dyn-list">
							<div role="link" class="home-featured-list w-dyn-items">
								<% blogs.reverse().forEach((blog, index)=> { %>
									<% if (index> 2) return %>
										<div role="listitem" class="main-item w-dyn-item">
											<a data-w-id="0e86534f-1e4e-d2a4-9f37-058c64f8b2b1" style="opacity:0"
												href="/blogs/<%= blog.slug %>"
												class="main-hero-div-image w-inline-block">
												<img src="/<%= blog.mainImage.path %>" loading="lazy"
													alt="<%= blog.title %>"
													sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 80vw, 44vw"
													srcset="/<%= blog.mainImage.path %> 500w, /<%= blog.mainImage.path %> 800w, /<%= blog.mainImage.path %> 1300w"
													class="hero-image" />
											</a>
											<div data-w-id="aad04659-c321-6f7d-a3f8-cb14e0df4462" style="opacity:0"
												class="hero-divbox">
												<a href="/blogs/<%= blog.slug %>" class="title-link">
													<%= blog.title %>
												</a>
												<% if(blog?.subTite !=='' ) { %>
													<div class="_20-px-top-margin-div">
														<div class="hero-text">
															<%= blog?.subTite %>
														</div>
													</div>
													<% } %>
														<div class="post-summary-div">
															<p>
																<%= blog.description.length> 500?
																	blog.description.substring(0, 500) + "...":
																	blog.description %>
															</p>
														</div>
														<a href="/blogs/<%= blog.slug %>" class="button w-button">
															READ MORE
														</a>
											</div>
										</div>
										<% }); %>
							</div>
						</div>
					</div>
				</div>
			</main>

			<!-- components: components/encouragement -->
			<%- include("components/encouragement") %>
				<!-- components -->

				<div data-w-id="c438a415-9175-dd16-339e-75acdf2fa5b4" class="section categories wf-section">
					<div class="container w-container">
						<div>
							<div class="_15-px-bottom-margin center">
								<div class="category title">Other Article</div>
							</div>
						</div>
						<div class="w-dyn-list">
							<div role="list" class="_4-column-grid w-dyn-items">
								<% blogs.forEach(blog=> { %>
									<div role="listitem" class="w-dyn-item">
										<div id="w-node-c438a415-9175-dd16-339e-75acdf2fa5bd-b6c5b91f">
											<a href="/blogs/<%= blog.slug %>" class="_220-px-height-div w-inline-block">
												<img src="/<%= blog.mainImage.path %>" loading="lazy"
													alt="<%= blog.title %>"
													sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 80vw, 44vw"
													srcset="/<%= blog.mainImage.path %> 500w, /<%= blog.mainImage.path %> 800w, /<%= blog.mainImage.path %> 1300w"
													class="post-image" />
											</a>
											<div class="flex-div">
												<div class="div-post flex vertical">
													<div>
														<a href="/blogs/<%= blog.slug %>" class="post-title">
															<%= blog.title %>
														</a>
													</div>
													<div class="sub-div">
														<div class="post-summary-text">
															<%= blog.description.length> 500?
																blog.description.substring(0, 500) + "...":
																blog.description %>
														</div>
													</div>
													<div class="date-author-flex">
														<div class="date">
															<script>
																document.write(moment("<%= new Date(blog?.updatedAt) %>").format('l'))
															</script>
														</div>
														<div class="sep-circle"></div>
														<a href="/blogs/<%= blog.slug %>" class="author">
															<%= blog.author %>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<% }); %>
							</div>
						</div>
					</div>
				</div>

				<!-- components: components/text-strip -->
				<%- include("components/text-strip") %>
					<!-- components -->

					<!-- partials: partials/_footer -->
					<%- include("partials/_footer") %>
						<!-- partials -->

						<!-- partials: partials/_scripts -->
						<%- include("partials/_scripts") %>
							<!-- partials -->

							</body>

							</html>

							<!-- https://the-daily-work-template.webflow.io/ -->